<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css"> 
</head>

<body>
    <header class="app__info">
        <h1>Take your productivity to the next level with our To-do app. Log in and start this amazing
            journey!</h1>
    </header>
    <main class="loginSection">
        <form action="/users/login" method="POST" class="login__form">
            <% include ./partials/messages %>
            <h1 class="login__title">Log in</h1>
            <label class="login__label" for="mail">
                <input class="login__input" type="email" placeholder="Enter your email:" 
                id="email"
                name="email"
                required>
            </label>
            <label class="login__label" for="password">
                <input class="login__input" type="password" placeholder="Enter your password:" 
                id="password"
                name="password"
                required>
            </label>
            <button type="submit" class="login__button"><a class="send">Log in</a></button>
            <p class="sign__up">Don't have an account? <a href="/users/signup">Sign up</a></p>
        </form>
    </main>
</body>

</html>