<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link type="text/css" rel="stylesheet" href="/signup.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    <header class="app__info">
        <h1>It's nice to see you here. Our application will help you increase your productivity. Don't hesitate and
            register now!</h1>
    </header>
    <main class="signupSection">
        <form action="/users/signup" method="POST" class="signup__form">
            <% include ./partials/messages %>
            <h1 class="signup__title">Sign up</h1>
            <label class="signup__label" for="name">
                <input class="signup__input" 
                type="text" 
                placeholder="Enter your name:"
                id="name"
                name="name"
                value="<%= typeof name != 'undefined' ? name : '' %>"
                required>
            </label>
            <label class="signup__label" for="mail">
                <input class="signup__input" 
                type="email" 
                placeholder="Enter your email:" 
                id="email"
                name="email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
                required>
            </label>
            <label class="signup__label" for="mail">
                <input class="signup__input" type="password" placeholder="Enter your password:" 
                id="password"
                name="password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
                required>
            </label>
            <label class="signup__label" for="mail">
                    <input class="signup__input" type="password" placeholder="Confirm your password:" 
                    id="password2"
                    name="password2"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    required>
                </label>
            <button type="submit" class="signup__button">Sign up</button>
            <p class="log__in">Have an account? <a href="/users/login">Log in</a></p>
        </form>
    </main>
</body>

</html>